.game-view {
  display: flex;
  justify-content: center;
  width: 100%;
}

.game-layout-main-area,
.game-layout-side-area {
  min-height: 630px;
  height: 90vh;
}

.game-layout-main-area {
  max-width: 580px;
}
