/*-----GameStatusContainer.jsx-----*/
.game-status-container {
  width: 100%;
}

/*-----GameStatus.jsx-----*/
.game-status-field {
  color: var(--white);
  display: flex;
  border-radius: 5px 5px 0 0;
}

.game-status-in-progress {
  background-color: var(--primary);
}
.game-status-completed {
  background-color: var(--success);
}

.game-status-icon {
  width: 20px;
  user-select: none;
}

.status-text {
  letter-spacing: -0.15px;
}

/*-----GameInfo.jsx-----*/
.game-info-row {
  display: flex;
  border-bottom: 1px solid var(--dark-border);
}

.game-info-status{
  display: flex;
  line-height: 2px;
}

.game-info-icon {
  user-select: none;
}

.players-done-color {
  color: var(--success);
}

.players-skipped-color {
  color: #9E6B11;
}

.hide > * {
  display: none;
}
