.avatar-modal {
  max-width: 600px;
  min-height: 270px;
}

.modal-url-input {
  border: 1px solid var(--secondary-text);
  width: 65%;
}

.modal-url-input:focus {
  outline: none;
}

.avatar-modal-second-step:focus {
  outline: none;
}

.modal-error-message {
  color: var(--error);
}
