.button {
  cursor: pointer;
}

.primary-btn {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.outlined-btn {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid #3C64B185;
}
