.primary-btn {
  background-color: var(--primary);
  border: none;
}

.primary-btn:hover {
  background-color: var(--primary) !important;
}

.ghost-btn {
  color: var(--primary);
  border: 1px solid var(--blue-border);
}
