.team-container {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #21212112;
  border-radius: 4px;
  flex: none;
  order: 1;
  width: 384px;
}

.team-list-items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 392px;
  overflow:hidden;
  overflow-y:auto;
}

.team-list-item {
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-shadow: inset 0px -1px 0px #00000012;
}

.team-list-item:last-child {
  box-shadow: none;
}

.team-list-item-actions {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.team-list-item-actions button {
  background-color: transparent;
  border: 0;
}

.team-container button:hover {
  cursor: pointer;
}

.team-list-item-avatar {
  width: 40px;
  height: 40px;
  flex: none;
  border-radius: 64px;
  user-select: none;
}

.team-list-item-avatar.spectator-avatar {
  background-color: #ECEDEE;
}

.team-list-item-icon {
  user-select: none;
}

.team-list-item-avatar-text {
  font-family: 'Poppins';
}

.team-list-footer {
  box-shadow: inset 0px 1px 0px #00000012;
  text-align: center;
}

.team-list-footer button {
  border: 1px solid #3C64B152;
  border-radius: 4px;
  background-color: transparent;
  color: #3C64B1;
}

.team-list-footer button:disabled {
  cursor: not-allowed;
}

.team-list-footer img {
  width: 20px;
  height: 16px;
}

.team-list-item-name span {
  color: #636363;
}

.team-list-voter-score {
  background-color: #2A7305;
  border-radius: 24px;
  color: #FFFFFF;
  align-items: center;
}

.team-list-voter-skip-score {
  background: #9E6B11;
  border-radius: 20px;
  color: #FFFFFF;
  letter-spacing: 1px;
}