.team-container {
  box-sizing: border-box;
  border: 1px solid var(--dark-border);
  order: 1;
  width: 384px;
  height: 843px;
  margin-bottom: 10px;
}

.team-header {
  flex: 0 1 auto;
}

.team-list-items {
  overflow:hidden;
  overflow-y:auto;
  flex: 1 1 auto;
}

.team-list-item {
  display: flex;
  box-shadow: inset 0px -1px 0px #00000012;
}

.team-list-item:last-child {
  box-shadow: none;
}

.team-list-item-actions {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.team-list-item-actions button {
  background-color: transparent;
  border: 0;
}

.team-container button:hover {
  cursor: pointer;
}

.team-list-item-avatar {
  width: 40px;
  height: 40px;
  flex: none;
  border-radius: 64px;
  user-select: none;
}

.team-list-item-avatar.spectator-avatar {
  background-color: #ECEDEE;
}

.team-list-item-icon {
  user-select: none;
}

.team-list-item-avatar-text {
  font-family: 'Poppins';
}

.team-list-footer {
  box-shadow: inset 0px 1px 0px #00000012;
  text-align: center;
}

.team-list-footer button:disabled {
  cursor: not-allowed;
}

.team-list-footer img {
  width: 20px;
  height: 16px;
}

.team-list-item-name span {
  color: var(--secondary-text);
}

.team-list-voter-score {
  background-color: var(--success);
  color: var(--white);
}

.team-list-voter-skip-score {
  background: var(--orange);
  color: var(--white);
}