.team-container {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid rgba(33, 33, 33, 0.12);
  border-radius: 4px;
  flex: none;
  order: 1;
  width: 384px;
  display: flex;
  flex-direction: column;
}

.team-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px 4px 0px 0px;
  justify-content: center;
  padding: 0px 24px;
  gap: 10px;
  height: 56px;
  background: #3C64B1;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.15px;
  color: #FFFFFF;
}

.team-list-items {
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  flex-grow: 1;
  max-height: 392px;
  overflow:hidden;
  overflow-y:auto;
}

.team-list-items::-webkit-scrollbar {
  width: 12px;
}

.team-list-items::-webkit-scrollbar-track {
  background-color: #F9F9F9;
}

.team-list-items::-webkit-scrollbar-thumb {
  -webkit-border-radius: 100vw;
  border-radius: 100vw;
  background-color: #BDBDBD;
  border: 3px solid #F9F9F9;
}

.team-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0px;
  gap: 16px;
  background: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);
  font-family: 'Rubik';
}

.team-list-item:last-child {
  box-shadow: none;
}

.team-list-item-actions {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.team-list-item-actions button {
  margin-left: 10px;
  background-color: transparent;
  border: 0;
}

.team-container button:hover {
  cursor: pointer;
}

.team-list-item-avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 40px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 64px;
}

.team-list-item-avatar-text {
  font-family: 'Poppins';
}

.team-list-footer {
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.12);
  text-align: center;
  padding: 15px 0px;
}

.team-list-footer button {
  border: 1px solid rgba(60, 100, 177, 0.52);
  border-radius: 4px;
  padding: 8px 12px;
  background-color: transparent;
  color: #3C64B1;
  font-weight: 500;
}

.team-list-footer button:disabled {
  cursor: not-allowed;
}

.team-list-footer img {
  width: 20px;
  height: 16px;
}

.team-list-item-name span {
  color: #636363;
  font-size: 14px;;
}
