/*Buttons*/
.ant-btn-primary:disabled:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

/*Tooltips*/
.ant-tooltip .ant-tooltip-inner {
  text-align: center;
}

.tooltip-arrow-hidden .ant-tooltip-arrow {
  display: none;
}

/*Dropdowns*/
.ant-dropdown-menu-item button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-text);
  padding: 10px;
}

/*Modals*/
.cancel-btn-hidden .ant-modal-content .ant-modal-footer .ant-btn-default {
  display: none;
}

.ant-modal-content .ant-modal-footer {
  display: flex;
  justify-content: flex-end;
}

.ant-modal-content .ant-modal-footer .ant-btn-primary {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: var(--primary);
  font-size: 16px;
  padding: 16px;
}

.ant-modal-content .ant-modal-footer .ant-btn-default {
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 16px;
  padding: 16px;
}

.ant-modal-content .ant-modal-header .ant-modal-title {
  font-weight: 700;
  font-size: 20px;
}

