
.border-r-4 { border-radius: 4px }
.border-r-12 { border-radius: 12px }
.border-r-20 { border-radius: 20px }

.error-message {
  color: var(--error);
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  user-select: none;
}