.rubik-font {
  font-family: "Rubik";
}

.user-input-font {
  font-size: 1.3rem;
  letter-spacing: .5px;
}

.font-size-xxs { font-size: 12px }
.font-size-xs { font-size: 14px }
.font-size-s { font-size: 16px }
.font-size-m { font-size: 20px }
.font-size-l { font-size: 22px }
.font-size-xl { font-size: 24px }
.font-size-xxl { font-size: 32px }

.weight-500 { font-weight: 500 }
.weight-700 { font-weight: 700 }
.weight-800 { font-weight: 800 }