#header {
  position: sticky;
  top: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f3f6fa;
  flex-grow: 1;
  min-width: 700px;
}

.avatar {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 30px; /* or 50% */
  background-color: #ecf0f7;
  color: #3c64b1;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

#username {
  font-family: 'Lato', sans-serif;
  color: #212121;
}
