@font-face {
  font-family: Lato;
  src: url('../font/Lato-Regular.ttf');
}

@font-face {
  font-family: Rubik;
  src: url('../font/Rubik-VariableFont.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('../font/Poppins-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

:root {
  --primary: #3C64B1;
  --success: #2A7305;

  /* header? */
  --light-bg: #F3F6FA;
  --footer-bg-color: #373F41;

  --white: #FFFFFF;
  --primary-text: #212121;
  --secondary-text: #666666;

  --chess-tile-dark: #B7C0D8;
  --chess-tile-light: #E8EDF9;
}
