.align-c { align-items: center }
.align-end { align-items: flex-end }
.align-start { align-items: flex-start }
.align-stretch { align-items: stretch }

.justify-c { justify-content: center }
.justify-end { justify-content: flex-end }
.justify-start { justify-content: flex-start }

.f-1 {
  display: flex;
  flex: 1;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-row-between {
  display: flex;
  justify-content: space-between;
}

.f-row-around {
  display: flex;
  justify-content: space-around;
}

.f-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.f-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}