::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #F9F9F9;
}
  
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 100vw;
  border-radius: 100vw;
  background-color: #BDBDBD;
  border: 3px solid #F9F9F9;
}