.gap-s { gap: 8px }
.gap-m { gap: 16px }
.gap-l { gap: 20px }

.padding-0 { padding: 0px }
.padding-s { padding: 8px }
.padding-m { padding: 16px }
.padding-l { padding: 20px }

.padding-x-0 { padding-left: 0px; padding-right: 0px }
.padding-x-s { padding-left: 8px; padding-right: 8px }
.padding-x-m { padding-left: 16px; padding-right: 16px }
.padding-x-l { padding-left: 20px; padding-right: 20px }

.padding-x-0 { padding-top: 0px; padding-bottom: 0px }
.padding-y-s { padding-top: 8px; padding-bottom: 8px }
.padding-y-m { padding-top: 16px; padding-bottom: 16px }
.padding-y-l { padding-top: 20px; padding-bottom: 20px }

.padding-r-0 { padding-right: 0px }
.padding-r-s { padding-right: 8px }
.padding-r-m { padding-right: 16px }
.padding-r-l { padding-right: 20px }

.padding-l-0 { padding-left: 0px }
.padding-l-s { padding-left: 8px }
.padding-l-m { padding-left: 16px }
.padding-l-l { padding-left: 20px }

.padding-t-0 { padding-top: 0px }
.padding-t-s { padding-top: 8px }
.padding-t-m { padding-top: 16px }
.padding-t-l { padding-top: 20px }

.padding-b-0 { padding-bottom: 0px }
.padding-b-s { padding-bottom: 8px }
.padding-b-m { padding-bottom: 16px }
.padding-b-l { padding-bottom: 20px }

.margin-auto { margin: auto }

.margin-0 { margin: 0px }
.margin-s { margin: 8px }
.margin-m { margin: 16px }
.margin-l { margin: 20px }

.margin-x-0 { margin-left: 0px; margin-right: 0px }
.margin-x-s { margin-left: 8px; margin-right: 8px }
.margin-x-m { margin-left: 16px; margin-right: 16px }
.margin-x-l { margin-left: 20px; margin-right: 20px }

.margin-x-0 { margin-top: 0px; margin-bottom: 0px }
.margin-y-s { margin-top: 8px; margin-bottom: 8px }
.margin-y-m { margin-top: 16px; margin-bottom: 16px }
.margin-y-l { margin-top: 20px; margin-bottom: 20px }

.margin-r-0 { margin-right: 0px }
.margin-r-s { margin-right: 8px }
.margin-r-m { margin-right: 16px }
.margin-r-l { margin-right: 20px }

.margin-l-0 { margin-left: 0px }
.margin-l-s { margin-left: 8px }
.margin-l-m { margin-left: 16px }
.margin-l-l { margin-left: 20px }

.margin-t-0 { margin-top: 0px }
.margin-t-s { margin-top: 8px }
.margin-t-m { margin-top: 16px }
.margin-t-l { margin-top: 20px }

.margin-b-0 { margin-bottom: 0px }
.margin-b-s { margin-bottom: 8px }
.margin-b-m { margin-bottom: 16px }
.margin-b-l { margin-bottom: 20px }