.role-selection-screen {
  background-color: #F3F6FA;
  min-height: 100vh;
  max-height: 100vh;
}

.role-selection-content {
  width: 55%;
  background-color: #FFFFFF;
  padding: 50px;
  border-radius: 4px;
}

.role-selection-title {
  font-weight: 800;
  font-size: 2rem;
}

.role-selection-description {
  color: #666666;
}

.role-selection-btn-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 40px;
}

.role-selection-btn {
  background-color: #FFFFFF;
  padding: 10px;
  width: 45%;
  border: 1px solid rgba(33, 33, 33, 0.12);
  border-radius: 12px;
  text-align: center;
}

.role-selection-btn:hover {
  cursor: pointer;
  border: 1px solid #8913A6;
  box-shadow: 0 0 11px #8913a633;
}

.role-selection-btn > img {
  width: 70px;
}

.role-selection-btn-title {
  font-weight: 800;
  font-size: 1.2rem;
}

.role-selection-btn-description {
  -webkit-line-clamp: 2;
}