.role-selection-content {
  width: 55%;
  max-width: 700px;
  background-color: var(--white);
  padding: 50px;
}

.role-selection-description {
  color: var(--secondary-text);
}

.role-selection-btn-container {
  margin-top: 40px;
}

.role-selection-btn {
  background-color: var(--white);
  width: 45%;
  border: 1px solid var(--dark-border);
  text-align: center;
}

.role-selection-btn:hover {
  cursor: pointer;
  border: 1px solid #8913A6;
  box-shadow: 0 0 11px #8913A633;
}

.role-selection-btn > img {
  width: 70px;
}