table {
  border-spacing: 0px;
  text-align: center;
}

.chess-board-container {
  padding: 16px 16px 8px 8px;
  border: 1px solid var(--dark-border);
  user-select: none;
  max-width: 580px;
}

#chess-board .border-tile, .non-border-tile {
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
}

#chess-board .border-tile {
  background: var(--chess-tile-light);
}

#chess-board .non-border-tile {
  background: var(--chess-tile-dark);
}

#chess-board .border-tile:hover, .non-border-tile:hover {
  border: 1px solid var(--game-light-purple);
}

#chess-board .border-tile,
#chess-board .non-border-tile {
  aspect-ratio: 1 / 1;
}

#chess-board .is-empty-tile:hover::before {
  content: "";
  width: 60%;
  aspect-ratio: 1 / 1;
  background: var(--game-light-purple);
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}

#chess-board .attribute .index {
  line-height: 28px;
  letter-spacing: -0.15px;
  color: var(--primary-text);
  text-transform: uppercase;
}

#chess-board .attribute .points {
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--secondary-text);
}

#chess-board .square {
  position: relative;
  height: clamp(59px, 6.6vh,70px);
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.square-move-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.square-move-info .square-avatar-container {
  height: 45%;
  z-index: 2;
}

.square-move-info .square-move-text {
  height: 25%;
  z-index: 2;
}

#chess-board .square .figure-img {
  height: clamp(16px, 2vh,23px);
}

#chess-board .square .figure-text {
  color: var(--primary-text);
}

#chess-board .square .figure-text-margin {
  margin-left: 3px;
}

#chess-board .square .number {
  color: var(--chess-tile-dark);
  position: absolute;
  text-transform: uppercase;
}

#chess-board .square .number-filled {
  color: var(--chess-tile-light);
}

#chess-board .square .number-row {
  left: 2px;
  top: 2px
}

#chess-board .square .number-column {
  right: 2px;
  bottom: 2px;
}

.chess-board-container .rotated-outer {
  position: relative;
  width: 24px;
  height: 120px;
}

.chess-board-container .rotated-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.chess-board-container .axis-title {
  font-size: 1rem;
  white-space: nowrap;
  color: var(--primary-text);
}

#chess-board .pop-over {
  z-index: 3;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  min-width: 242px;
  width: max-content;
  left: 0px;
  top: 6px;
  background: var(--white);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06), 
              0px 1px 18px rgba(0, 0, 0, 0.04), 
              0px 3px 5px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  top: 89px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

#chess-board .pop-over:before {
  position: absolute;
  z-index: 3;
  content: "";
  right: calc(50% - 10px);
  top: -5px;
  border-style: solid;
  border-width: 0 9px 6px 9px;
  border-color: transparent transparent #fff transparent;
}

#chess-board .pop-over-opened {
  display: flex;
}

#chess-board .pop-over .pop-over-title {
  color: var(--primary-text);
}

#chess-board .pop-over .move-info .text {
  color: var(--primary-text);
}

#chess-board .pop-over .move-info .score {
  background: var(--primary);
  border-radius: 20px;
}

#chess-board .pop-over .move-info .score span {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: var(--white);
}

.pop-up-figure-icon-container {
  width: 30px;
}

.pop-up-figure-icon {
  height: 24px;
}
