#header {
  display: flex;
  background: var(--background);
  height: 70px;
  min-width: 700px;
  padding: 0 64px;
}

.logo-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.header-info {
  user-select: none;
}

#username {
  font-family: 'Lato', sans-serif;
  color: var(--primary-text);;
}
