#header {
  display: flex;
  background: var(--background);
  height: 70px;
  min-width: 700px;
  padding: 0 64px;
}

.logo-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.header-info {
  user-select: none;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 30px; /* or 50% */
  background-color: #ecf0f7;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  user-select: none;
}

#username {
  font-family: 'Lato', sans-serif;
  color: var(--primary-text);;
}

.chessboard-icon {
  height: 18px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(96deg) brightness(107%) contrast(103%);
}
