.header {
  display: flex;
  flex-direction: row;
  background: #F3F6FA;
  height: 80px;
  min-width: 700px;
  padding: 0 64px;
}

.header-info {
  user-select: none;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 30px; /* or 50% */
  background-color: #ecf0f7;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Poppins';
  user-select: none;
}

#username {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #212121;
}
