/*LoginForm.jsx*/
.login-form {
    width: 40%;
    background-color: var(--white);
    border: 1px solid var(--dark-border);
    padding: 3em 4em;
    min-height: 40vh;
    height: max-content;
}

.form-text {
    width: 75%;
}

.form-text > p {
    color: var(--secondary-text);
}

.form-input-container {
    width: 75%;
}

.user-input-container {
    display: flex;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: -4px;
}

#username-input,
#profile-pic-input {
    border: none;
    width: 100%;
}

#username-input:focus,
#profile-pic-input:focus {
    outline: none;
}

.enter-game-btn {
    width: 100%;
}

.enter-game-btn:disabled {
    background-color: #3C64B124;
    cursor: not-allowed;
}

.login-input {
    height: 48px;
}

.login-input-logo {
  width: 16px;
  height: 34px;
}

.login-input-log:last-of-type {
  height: 500px;
  width: 500px;
}