.game-view {
  margin: 25px auto 0 auto;
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin: 16px auto 0px auto;
  height: 80vh;
  max-height: 80vh;
}

.game-content {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


