.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-----Game Footer-----*/
#game-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  margin: 0 auto;
}

.figure-field {
  width: 100%;
}

.btn-field {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.btn-field button {
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  padding: 9px, 16px;
  font-family: 'Rubik';
}

.finish-btn {
  background: #3c64b1;
  color: #ffffff;
}

.finish-btn:disabled {
  background-color: #3c64b13d;
  color: #ffffff;
}

.skip-btn {
  color: #3C64B1;
  background-color: transparent;
  border: 1px solid black;
}

.skip-btn:disabled {
  color: rgba(60, 100, 177, 0.24);
  cursor: not-allowed;
}

.explText{
  display:none;
  position: absolute;
  border: 1px solid black;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 0.8em;
  margin-left: 100px;
}

.hoverText{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.skip-btn:hover {
  display: inline-block;
}
.skip-btn:hover + .explText {
  display: inline-block;
}


/*-----Chess Board Pieces-----*/
#chess-pieces-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.piece-field {
  width: 3.625em;
  flex-direction: column;
  border: 2px solid transparent;
  padding: 8px 16px;
  cursor: pointer;
}

.piece-field:hover {
  background-color: #e8edf9;
}

.piece-field-selected {
  background-color: #e8edf9;
  border-color: #6547fd;
  border-radius: 4px;
}

.figure-title {
  color: #212121;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.3px;
  font-family: 'Rubik';
  margin-block-start: 0.2em;
  margin-block-end: 0;
}

.figure-strength-container {
  width: 2.5em;
  height: 24px;
  background-color: #3c64b1;
  border-radius: 20px;
  padding: 0px 2px;
  font-family: 'Rubik';
}

.figure-strength-container p {
  color: #ffffff;
  font-size: 0.75rem;
  letter-spacing: -0.1px;
  font-weight: bold;
}
