/*-----Chess Board Pieces-----*/
#chess-pieces-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  user-select: none;
}

.piece-field {
  width: 3.625em;
  flex-direction: column;
  border: 2px solid transparent;
  cursor: pointer;
}

.piece-field:hover {
  background-color: #E8EDF9;
}

.piece-field-selected {
  background-color: #E8EDF9;
  border-color: #6547FD;
  border-radius: 4px;
}

.figure-title {
  color: #212121;
  line-height: 2rem;
  letter-spacing: 0.3px;
  margin-block-start: 0.2em;
  margin-block-end: 0;
}

.figure-strength-container {
  width: 2.5em;
  height: 24px;
  background-color: #3C64B1;
  border-radius: 20px;
}

.figure-strength-container p {
  color: #FFFFFF;
  letter-spacing: -0.1px;
}
