/* -----Game Footer----- */
#game-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 0 auto 10px auto;
}

/*-----Game Footer Buttons-----*/
.btn-field {
  width: 100%;
  display: flex;
  justify-content: center;
  user-select: none;
}

.btn-field button {
  height: 40px;
  border: none;
  cursor: pointer;
}

.finish-btn {
  background: #3C64B1;
  color: #FFFFFF;
}

.finish-btn:disabled {
  cursor: not-allowed;
  background-color: #3C64B13D;
  color: #FFFFFF;
}

.skip-btn {
  color: #3C64B1;
  background-color: transparent;
}

.skip-btn:disabled {
  color: #3C64B13D;
  cursor: not-allowed;
}

/*-----Game Footer Inactive-----*/
.copy-btn {
  background-color: #3C64B1;
  color: #FFFFFF;
  display: flex;
  border: none;
  cursor: pointer;
}

.copy-btn > .copy-icon {
  filter: brightness(100) saturate(100%);
}
