/* -----Game Footer----- */
#game-footer {
  display: flex;
  flex-direction: column;
  width: 540px;
  padding: 16px 16px 8px 8px;

}

/*-----Game Footer Inactive-----*/
.copy-btn {
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  border: none;
  cursor: pointer;
}

.copy-btn > .copy-icon {
  filter: brightness(100) saturate(100%);
}
