/* -----Game Footer----- */
#game-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 0 auto 10px auto;
}

/*-----Game Footer Inactive-----*/
.copy-btn {
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  border: none;
  cursor: pointer;
}

.copy-btn > .copy-icon {
  filter: brightness(100) saturate(100%);
}
